In [1]:
from cashFlow import *
from periodChecking import *
from evaluatingMethods import *

In [2]:
project_A = ['Project 1', 15000, 1000, 2000, 3000, 4000, 5000, 6000]
project_B = ['Project 2', 15000, 3500, 3500, 3500, 3500, 3500, 3500]
project_C = ['Project 3', 15000, 6000, 5000, 4000, 3000, 2000, 1000]

projects = [project_A, project_B, project_C]

## CASHFLOW TABLE

In [3]:
cashFlow = NCF(projects)
dataFrame = cashFlow.Table()
dataFrame

   Year                 Description  Project 1  Project 2  Project 3
0     0                  Investment   15000.00   15000.00   15000.00
1     1                      Return    1000.00    3500.00    6000.00
2     2                      Return    2000.00    3500.00    5000.00
3     3                      Return    3000.00    3500.00    4000.00
4     4                      Return    4000.00    3500.00    3000.00
5     5                      Return    5000.00    3500.00    2000.00
6     6                      Return    6000.00    3500.00    1000.00
7   NaN               Net Cash Flow   21000.00   21000.00   21000.00
8   NaN                   Net Value    6000.00    6000.00    6000.00
9   NaN       Average Net Cash Flow    3500.00    3500.00    3500.00
10  NaN  Average Yearly Profit Rate      23.33      23.33      23.33

In [4]:
evaulation = Methods(dataFrame)

In [5]:
evaulation.NetPresentValue(interestRate=5, periodChecking = True)

Period Checking Table

(  Year  Discount Factor (5) Project 1 Project 2 Project 3  \
 0    0                 1.00  15000.00  15000.00  15000.00
 1    1                 0.95   1000.00   3500.00   6000.00
 2    2                 0.91   2000.00   3500.00   5000.00
 3    3                 0.86   3000.00   3500.00   4000.00
 4    4                 0.82   4000.00   3500.00   3000.00
 5    5                 0.78   5000.00   3500.00   2000.00
 6    6                 0.75   6000.00   3500.00   1000.00
 0  NaN                TOTAL  21000.00  21000.00  21000.00
 0  NaN    Net Present Value         -         -         -
 0  NaN  Profitability index         -         -         -
 0  NaN       Annuity Method         -         -         -

    Project 1 Discounted  Project 2 Discounted  Project 3 Discounted
 0              15000.00              15000.00              15000.00
 1                952.38               3333.33               5714.29
 2               1814.06               3174.60               4535.15
 3               2591.51               3023.43               3455.35
 4               3290.81               2879.46               2468.11
 5               3917.63               2742.34               1567.05
 6               4477.29               2611.75                746.22
 0              17043.69              17764.92              18486.16
 0               2043.69               2764.92               3486.16
 0                  1.14                  1.18                  1.23
 0               3357.90               3500.00               3642.10  ,
 ([5.54, 4.94, 3.52],
             Project Name  Return Period
  0  Project 1 Discounted           5.54
  1  Project 2 Discounted           4.94
  2  Project 3 Discounted           3.52))